:root {
    --nav-active-color: #2f3f9fe6;
}

body{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

#header{
    background: #E1EBFA;
}

.nav-wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items li{
    display: inline-block;
    margin-right: 30px;
}

.nav-items a:hover{
    cursor: pointer;
}
.active{
    color: var(--nav-active-color);
    font-weight: bold;
}

.btn{
    background: lightseagreen;
    padding: 15px;
    border-radius: 30px;
    transition: 1s;
    
}
.btn:hover{
    transform: scale(1.2);
}

#hero{
    background: #E1EBFA;
}
.hero-wrapper{
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
}
.hero-wrapper img{
    border-radius: 15px;
    width:400px
}

.hero-item h1{
    font-size: 30px;
    margin-bottom: 10px;
}

 span{
    font-family: 'Calligraffitti';
    color: #A30000;
    font-weight: 700;
}
.btn-wrapper{
    margin-top: 20px;
}
.btn-primary{
    background-color: #2f3f9f;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-right: 30px;
}

.btn-primary:hover{
    background: #283687;
    cursor: pointer;
}

.btn-secondary{
    border: 1px solid teal;
    padding: 20px;
    border-radius: 30px;
    transition: 1s;
}

.btn-secondary:hover{
    cursor: pointer;
    background-color: #2f3f9f;
    color: #fff;
}

#servies{
    padding: 40px 20px;
}

#servies h2{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.service-wrapper{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servie-item h3{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.servie-item p{
    margin-bottom: 20px;
}
.servie-item a{
    color: #2F3F9F;
    font-weight: bold;
}
footer{
    padding: 50px 20px;
    background-color: #F8F9FA;
}
.fa-heart{
    color: #2f3f9f;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.social-items li{
    display: inline-block;
    padding: 10px;
   
}
.social-items li i{
    color: #2f3f9f;
    font-size: 25px
}

.touch-wrapper{
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.touch-wrapper img{
    width: 450px;
}

.touch-wrapper h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.touch-wrapper p{
    margin-bottom: 10px;
}

.footer-container{
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

footer h3{ 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-container ul li{
    margin-bottom: 5px;
}
.footer-container ul a:hover{
    cursor: pointer;
}
footer form{
    margin-top: 10px;
}

footer input{
    border: 1px solid lavender;
    display: block;
    margin-bottom: 10px;
}

footer button{
    background: #2f3f9f;
    padding: 5px 10px;
    color: white;
}

.d-flex{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.d-flex i{
    font-size: 20px;
    margin-top: 10px;
    color: #2f3f9f;
}

#blog{
    background: #F7F4E9;
    padding: 50px 20px;
}

#blog p{
    text-align: center;
    font-size: 18px;
}

#blog h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.grid{
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid i{
    color: #2f3f9f;
}

.grid-item ul li{
    display: inline-block;
    margin-right: 10px;
}

.grid-item h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.grid-item h6{
    margin-top: 10px;
    color: #2f3f9f;
    margin-bottom: 10px;
}

#testimonial{
    background: #FFFFFF;
    padding: 50px 20px;
   
}
#testimonial h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.testimonial{
    /* border: 1px solid yellow; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-bottom: 1px solid #2F3F9F;
}

.testimonial img{
    border-radius: 50%;
    
}
.testimonial-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.testimonial p{
    margin: 20px 0;
}

.testimonial i{
    display: inline-block;
}

.gap{
    margin-top: 20px;
} 

.testimonial h4{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

#pricing{
    background: #FCF6F0;
    padding: 50px 20px;
}
#pricing h1{
    font-size: 30px;
    font-weight: bold;
}
#pricing button{
    margin-top: 20px;
    border-radius: 40px;
    padding: 20px 0;
    background-color: #2F3F9F;
    color: #fff;
    width: 200px;
    text-align: center;
    
}

#pricing button:hover{
    cursor: pointer;
}

.card{
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-bottom: 1px solid #2F3F9F;
    padding: 30px;
}

.pricing-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.card-body ul li{
    text-decoration: underline;
    margin-top: 20px;
}
.card-body .btn-red{
    background: #A30000 !important;
}
.card-body strong{
    font-weight: 700;
}
.card-body i{
    margin-right: 5px;
}

.card-body .fa-check{
    color: #283687;
}
.card-body .fa-xmark{
    color: #A30000;
}
.card-body h2{
    font-weight: bold;
}
.card-body h3{
    color: #2F3F9F;
    font-size: 40px;
    font-weight: bold;
}

.card-body p{
    margin-bottom: 5px;
}

#team{
    padding: 50px 20px;
}
#team h1{
    text-align: center;
    font-size: 30px;
}
.team-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

#about{
    padding: 50px 20px;
    background: #F2FAFA;
}

.image-box-wrapper{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.image-box{
    background: #FFFFFF;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-bottom: 1px solid #2F3F9F;
}

.image-box i {
    font-size: 30px;
    color: #2f3f9f;
    margin-bottom: 10px;
}

.image-box h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-box p{
    
    font-weight: bold;
}

#portfolio{
    padding: 50px 20px;

}

#portfolio h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.grid-wrapper{
    margin-top: 30px;
}

.grid-item { width: 400px; margin-right: 10px;}
.grid-item--width2 { width: 500px; }